@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@custom-variant dark (&:where(.dark, .dark *));

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --font-inter: var(--font-inter);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  body {
    @apply bg-white dark:bg-zinc-900 text-black dark:text-white;
  }

  nav {
    @apply sticky top-0 z-10 flex flex-row justify-between max-w-4xl w-full p-8 mt-0 mb-0 md:mt-4 md:mb-10 mx-auto bg-white dark:bg-zinc-900;
  }

  main {
    @apply flex flex-col px-8 md:px-0 max-w-2xl mx-auto;
  }

  footer {
    @apply flex px-8 md:px-0 max-w-2xl mx-auto;
  }

  h1 {
    @apply font-bold text-3xl md:text-5xl tracking-tight mb-4;
  }

  h3 {
    @apply font-bold text-2xl md:text-4xl tracking-tight;
  }

  p {
    @apply text-base text-zinc-600 dark:text-zinc-400;
  }
}

@layer components {
  .nav-mobile {
    @apply sm:hidden;
  }

  .nav-desktop {
    @apply hidden sm:flex flex-row gap-6 items-center rounded-full bg-white/90 px-6 text-sm font-semibold text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-900/90 dark:text-zinc-200 dark:ring-white/10;
  }
}
