@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  h2 {
    @apply mt-15 font-bold text-2xl tracking-tight;
  }
  h3 {
    @apply font-bold;
  }

  p {
    @apply text-[#9BA3AF];
  }
}

@layer components {
  .card {
    @apply bg-[#111111] mt-2 p-3 border border-gray-900 hover:border-gray-700 rounded-xl;
  }
}
